.PeriodicString {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;
    margin-bottom: 8px;
}

.PeriodicString-highlight {
    padding: 12px 16px;
    background-color: darkgreen;
    font-weight: bold;
}